<h1 id="sobre">Sobre o App</h1>
<img id="logo" src="LOGOMARCA.png" alt="">
<p id="txt1">A incerteza da possibilidade de obter sucesso em uma carreira
    <br>
    artística é uma grande barreira em meio a vida de milhares de
    <br>
    músicos, que por muitas vezes abandonam o sonho de viver do
    <br>
    seu maior prazer para se sustentar através de um trabalho 
    <br>
    comum. Observando a necessidade dessa parcela da população,
    <br>
    foi desenvolvido o MajorBeat,uma plataforma que conecta
    <br>
    músicos independentes a contratantes para apresentações ao 
    <br>
    vivo, sendo um facilitador não apenas para os músicos, mas
    <br>
    também para os contratantes à quem um leque de possibilidades
    <br>
    seria aberto, proporcionando praticidade e agilidade para seus
    <br>
    usuários através de seu método de filtragem rápido, assertivo e
    <br>
    intuitivo. A viabilização da carreira musical é um desafio, a
    <br>
    aplicação surge como uma ferramenta de auxílio aqueles que o 
    <br>
    enfrentam. 
</p>

<p id="txt2">
O desenvolvimento do trabalho envolveu pesquisa,  <img id="icone" src="LOGOICONE_SemFundo.png" alt="">
<br>
elaboração de ideias, organização de pensamentos,
<br>
comunicação em equipe, planejamento de tarefas,
<br>
gestão pessoal,  idealização  de  identidade  visual,  construção  de
<br>
experiência do usuário, conhecimentos de programação, análise
<br>
de requisitos, lógica, montagem de diagramas, modelagem de
<br>
Banco de Dados, programação nas linguagens: C#, Javascript, 
<br>
TypeScript. 


</p>