<div id="header">
<img id="logo" src="LOGOICONE_SemFundo.png" alt="">
<input id="searchBar" type="text">
<button></button>
<img src="" alt="">
</div>




<div id="filtros">
<p>Filtrar por: </p>
<button>Estilos</button>
<button>Horários</button>
</div>


<p>Eventos Próximos na sua região: </p>

<div id="Evento">
    <h1>Titulo</h1>
    <p>tipo</p>
    <p>data</p>
    <p>procura-se: </p>
</div>

<p>Talvez combine com você</p>

<div id="buttons">
<button id="home"><img src="House_01.png"></button>
<button id="user_b"><img id="user" src ="User_icon.png"></button>


<div id="aboutPage">


</div>