<div id="homePage">

<div id="header">
<img id="logo" src="LOGOICONE_SemFundo.png" alt="">
<input id="searchBar" type="text">
<button id="create">Criar Conta</button>
<img src="" alt="">
</div>




<div id="filtros">
<p>Filtrar por: </p>
<button>Estilos</button>
<button>Horários</button>
</div>


<p>Eventos Próximos na sua região: </p>


<div id="Evento">
    <img src="panelao.png">
    <h1 id="titulo">Panelão do Norte</h1>
    <p id="tipo">Restaurante</p>
    <p id="data">25 mar.</p>
    <p id="procura">procura-se: RAP</p>
</div>

<p>Talvez combine com você</p>

<div id="buttons">
<button id="home"><img src="House_01.png"></button>
<button id="user_b"><img id="user" src ="User_icon.png"></button>
</div>


</div>