<div id="homePage">

<div id="header">
<img id="logo" src="LOGOICONE_SemFundo.png" alt="">
<input id="searchBar" type="text">
<button id="user_b"><img id="user" src ="profilePage.jpg" (click)="profile()"></button>
<button id="create" (click)="criarConta()">Criar Conta</button>
</div>




<div id="filtros">
<p>Filtrar por: </p>
<button>Estilos</button>
<button>Horários</button>
</div>


<p id="proximo">Eventos Próximos na sua região: </p>


<div id="Evento">
    <img id="foto" src="panelao.png">
    <h1 id="titulo">Panelão do Norte</h1>
    <p id="tipo">Restaurante</p>
    <p id="data">25 mar.</p>
    <p id="procura">procura-se: RAP</p>
</div>

<p id="combine">Talvez combine com você</p>

<div id="Musico">
    <img id="foto2" src="Vector.png">
    <label id="nome">Arthur</label>
    <label id="nota">4.5★</label>

    <label id="bio">Guitarrista independente em busca de novas oportunidades</label>
</div>






</div>

<app-sobre></app-sobre>
<app-contato></app-contato>