#homePage{
  display: flex;
  justify-content: center; /* Alinha horizontalmente */
  align-items: center; /* Faz a altura ocupar a tela inteira */
  flex-direction: column;
}

#header{
    display: flex;
}

#logo{
    height: 70px;
}

#searchBar{
    height: 20px;
    margin-top: 20px;
    margin-left: 20px;
    width: 250px;
}

#create{
    width: 100px;
    height: 50px;
    margin-top: 10PX;
    margin-left: 30px;
    font-size: 13px;
}

#filtros{
    display: flex;
    margin-top: 50px;
    margin-right: 30px;

}

#filtros button{
     border-radius: 10px;
     background-color: #783F8E;
     color: #e7e7e7;
}

#buttons{
    height: 10px;
    margin-top: 100px;
}

#user_b{
    height: 55px;
    background-color: #AE92BD;
    border-radius: 50px;
    margin-left: 70px;
}

#user{
    height: 45px
}


#home{
    height: 60px;
    background-color: #AE92BD;
    border-radius: 50px;
    margin-left: 80px;
}

#homeI{
    height: 40px;
}

#proximo{
    margin-top: 80px;
    margin-left: 90px;
}

#Evento{
    background-color: #4F1271 ;
    width: 350px;
    height: 150px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 20px;
    display: grid;
}

#Evento h1,p{
    margin-left: 120px;

}

#Evento h1{
    margin-top: -140px;
    font-size: 20px;
    color: #e7e7e7;

}

#tipo{
    margin-top: -80px;
    color: #e7e7e7;
}

#data{
    margin-top: -60px;
    color: #e7e7e7;
}

#procura{
    margin-top: -40px;
    color: #e7e7e7;
    border: #AE92BD;
    border-radius: 10px;
    z-index: 1;
}


#Evento img{
    margin-top: 0px;
    height: 150px;
}


#combine{

    margin-top: 60px;
    margin-bottom: -10px;

}

#Musico{
    background-color: #4F1271 ;
    width: 350px;
    height: 100px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 20px;
    display: grid;
}



#foto2{
    background-color: #AE92BD;
    margin-top: 15px;
    margin-left: 20px;
    height: 70px;
    border-radius: 40px;

}

#nome{
  margin-left: 120px ;
  margin-top: -65px;
  color: #e7e7e7;
}

#nota{
    margin-left: 300px;
    margin-top: -70px;
    color: gray;
}

#bio{
    margin-top: -40px;
    margin-left: 120px;
    width: 200px;
    color: #e7e7e7;
}
